<div class="auth-wrapper">
  <div class="auth-form-box">
    <h2 class="auth-title">Esqueceu a sua senha?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Envie-me instruções para redefinir a senha", class: "btn-submit" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


